.title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #010101;
  margin-bottom: 32px;
  text-transform: uppercase;
}

.list {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  list-style-type: none;
}
.item {
  color: #2e2d2d;
}

.item:not(:first-child) {
  margin-top: 15px;
}

.item:nth-child(1) {
  color: #035517;
}

.item:nth-child(2) {
  color: #657a04;
}

.item:nth-child(3) {
  color: #7a0404;
}

.item:last-child {
  font-weight: bold;
  color: #030c55;
}
